Repository oxisto/money-gopher, changes with the labels that .github/labeler.yml gives for each.
All labels: persistence, service/securities

Persisting securites into storage layer
  .github/workflows/label.yml
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  gen/securities_sql.go
  go.mod
  go.sum
  internal/assert/assert.go
  internal/persistence.go
  mgo.proto
  money-gopher.code-workspace
  persistence/persistence.go
  persistence/persistence_test.go
  persistence/tables.go
  service/securities/service.go
  service/securities/service_test.go
Labels: persistence, service/securities

Persisting securites into storage layer (#25)
  .github/workflows/label.yml
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  gen/securities_sql.go
  go.mod
  go.sum
  internal/assert/assert.go
  internal/persistence.go
  mgo.proto
  money-gopher.code-workspace
  persistence/persistence.go
  persistence/persistence_test.go
  persistence/tables.go
  service/securities/service.go
  service/securities/service_test.go
Labels: persistence, service/securities

Initial UI
  buf.gen.yaml
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  go.mod
  go.sum
  mgo.proto
  money-gopher.code-workspace
  ui/.gitignore
  ui/.vscode/extensions.json
  ui/README.md
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.js
  ui/public/vite.svg
  ui/src/App.vue
  ui/src/assets/vue.svg
  ui/src/components/Button.vue
  ui/src/components/HelloWorld.vue
  ui/src/components/SecuritiesTable.vue
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
  ui/src/main.ts
  ui/src/style.css
  ui/src/vite-env.d.ts
  ui/tailwind.config.js
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Labels: none

Initial UI (#29)
  buf.gen.yaml
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  go.mod
  go.sum
  mgo.proto
  money-gopher.code-workspace
  ui/.gitignore
  ui/.vscode/extensions.json
  ui/README.md
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.js
  ui/public/vite.svg
  ui/src/App.vue
  ui/src/assets/vue.svg
  ui/src/components/Button.vue
  ui/src/components/HelloWorld.vue
  ui/src/components/SecuritiesTable.vue
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
  ui/src/main.ts
  ui/src/style.css
  ui/src/vite-env.d.ts
  ui/tailwind.config.js
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Labels: none

++
  gen/mgo.pb.go
  gen/securities_sql.go
  mgo.proto
  money-gopher.code-workspace
  persistence/persistence.go
  service/securities/service.go
  service/securities/service_test.go
  ui/src/gen/mgo_pb.ts
  util.go
Labels: persistence, service/securities

Added more tests
  gen/securities_sql.go
  go.mod
  go.sum
  internal/assert/assert.go
  persistence/persistence.go
  service/securities/service.go
  service/securities/service_test.go
Labels: persistence, service/securities

Extend `Securities` (#30)
  gen/mgo.pb.go
  gen/securities_sql.go
  go.mod
  go.sum
  internal/assert/assert.go
  mgo.proto
  money-gopher.code-workspace
  persistence/persistence.go
  service/securities/service.go
  service/securities/service_test.go
  ui/src/gen/mgo_pb.ts
  util.go
Labels: persistence, service/securities

Refactored `assert` into own project
  go.mod
  go.sum
  internal/assert/assert.go
  service/securities/service_test.go
Labels: service/securities

Refactored `assert` into own project (#31)
  go.mod
  go.sum
  internal/assert/assert.go
  service/securities/service_test.go
Labels: service/securities

Added `QuoteProvider` interface
  service/securities/quote_provider.go
  service/securities/quote_provider_yf.go
  service/securities/quote_provider_yf_test.go
Labels: service/securities

Fixed test
  service/securities/quote_provider_yf_test.go
Labels: service/securities

Added more tests
  service/securities/quote_provider_yf.go
  service/securities/quote_provider_yf_test.go
Labels: service/securities

Connecting quote provider to securities service
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  gen/securities_sql.go
  mgo.proto
  service/securities/quote.go
  service/securities/quote_provider.go
  service/securities/quote_provider_yf.go
  service/securities/quote_provider_yf_test.go
  service/securities/service.go
  service/securities/service_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: service/securities

Added tests for quote
  service/securities/quote.go
  service/securities/quote_test.go
Labels: service/securities

More testing
  gen/securities_sql.go
  persistence/persistence.go
  repl/commands/securities.go
  service/securities/quote.go
  service/securities/quote_provider.go
  service/securities/quote_provider_yf.go
  service/securities/quote_test.go
  service/securities/service.go
Labels: persistence, service/securities

Added `QuoteProvider` interface (#32)
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  gen/securities_sql.go
  mgo.proto
  persistence/persistence.go
  repl/commands/securities.go
  service/securities/quote.go
  service/securities/quote_provider.go
  service/securities/quote_provider_yf.go
  service/securities/quote_provider_yf_test.go
  service/securities/quote_test.go
  service/securities/service.go
  service/securities/service_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: persistence, service/securities

Added simple portfolio snapshot
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/service.go
  service/portfolio/snapshot.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

Added FIFO cost calculation
  cmd/mgo/mgo.go
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  mgo.proto
  repl/commands/portfolio.go
  repl/commands/securities.go
  service/portfolio/service.go
  service/portfolio/snapshot.go
  ui/src/gen/mgo_pb.ts
Labels: none

More tests
  finance/calculation.go
  gen/mgo.pb.go
  gen/portfolio.go
  mgo.proto
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  ui/src/gen/mgo_pb.ts
Labels: none

Added simple portfolio snapshot (#33)
  cmd/mgo/mgo.go
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  repl/commands/portfolio.go
  repl/commands/securities.go
  service/portfolio/service.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

Querying securities service for market value
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  mgo.proto
  service/portfolio/service.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  ui/src/gen/mgo_pb.ts
Labels: none

Added mock securities client to test
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  mgo.proto
  service/portfolio/service.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  ui/src/gen/mgo_pb.ts
  util.go
Labels: none

Slightly better testing
  go.mod
  go.sum
  money-gopher.code-workspace
  service/portfolio/service_test.go
  service/portfolio/snapshot_test.go
Labels: none

Fetch portfolio market value from `SecuritiesService` (#36)
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  go.mod
  go.sum
  mgo.proto
  money-gopher.code-workspace
  service/portfolio/service.go
  service/portfolio/service_test.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  ui/src/gen/mgo_pb.ts
  util.go
Labels: none

Implemented CRUD for portfolio transactions
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

Implemented CRUD for portfolio transactions (#38)
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

persist everything
  gen/mgo.pb.go
  mgo.proto
  service/portfolio/portfolio_test.go
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/src/gen/mgo_pb.ts
Labels: none

Starting to implement persistance
  gen/mgo.pb.go
  gen/portfolio_sql.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/service.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

CRUD for portfolio
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/service.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

Converted portfolio event struct
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_sql.go
  mgo.proto
  service/portfolio/service.go
  service/portfolio/transactions_test.go
  ui/src/gen/mgo_pb.ts
Labels: none

WIP
  gen/mgo.pb.go
  gen/portfolio_sql.go
  mgo.proto
  ui/src/gen/mgo_pb.ts
Labels: none

extracting CRUD operations
  persistence/persistence.go
  service/common/crud.go
  service/common/crud_test.go
  service/portfolio/transactions.go
Labels: persistence

more crud
  go.sum
  service/common/crud.go
  service/common/crud_test.go
  service/portfolio/transactions.go
Labels: none

even more CRUD
  service/common/crud.go
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/transactions.go
Labels: none

More tests
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/transactions.go
Labels: none

Fixed test
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: none

Persistance for `PortfolioService` (#41)
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfoliov1connect/mgo.connect.go
  go.sum
  mgo.proto
  persistence/persistence.go
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/service.go
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/src/gen/mgo_connect.ts
  ui/src/gen/mgo_pb.ts
Labels: persistence

Extended usage of `service/internal/crud`
  service/internal/crud/crud_requests.go
  service/securities/securities.go
  service/securities/securities_test.go
  service/securities/service.go
  service/securities/service_test.go
Labels: service/securities

Update as CRUD
  service/portfolio/portfolio.go
  service/portfolio/transactions.go
  service/securities/securities.go
Labels: service/securities

Added CRUD tests
  internal/persistence.go
  service/internal/crud/crud_requests_test.go
Labels: none

.github/labeler.yml:

"persistence":
  - persistence/**/*

"service/securities":
  - service/securities/**/*
